<div class="container">
  <div class="row">
    <div class="col-md-5 mx-auto">
      <h1>タスク編集 (<%= @work.client_name %>)</h1>
      <%= render 'form', work: @work, task: @task %>

      <div class="d-grid mt-3">
        <%= link_to "削除", work_task_path(@work, @task), method: :delete, data: {confirm: "削除しますか？"}, class: "btn btn-danger"%>
      </div>
    </div>
  </div>
</div>