<div class="container">
  <div class="row">
    <div class="col">
      <h1>案件一覧</h1>

      <div class="d-flex flex-wrap">
        <% @works.each do |work| %>
          <%= link_to work_path(work), class: "btn btn-outline-secondary shadow m-2 pt-3", style: "width: 9.5rem; height: 10rem" do %>
            <h2><%= work.client_name %></h2>
            <p class="text-start">memo:</p>
            <p class="text-start"><%= work.memo %></p>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>