<div class="row">
  <div class="mx-auto col">
    <h2>マイページ</h2>
    <div class="d-grid">
      <%= link_to "依頼者登録", new_commition_path, class: "btn btn-secondary"%>
    </div>
  </div>
</div>

<div class="mt-3 row">
  <div class="mx-auto col">
    <h3>本日(<%= Date.today.strftime("%m/%d")%>)の作業</h3>
    <%= render "works/list", works: @works_today %>
  </div>
</div>

<div class="mt-3 row">
  <div class="mx-auto col">
    <h3>作業一覧</h3>
    <%= render "works/list", works: @works_all %>
  </div>
</div>