<div class="row">
  <div class="mx-auto col-11 col-lg-8">
    <h1>マイページ</h1>
    <h2>本日の依頼</h2>
    <table class="table">
      <thead>
        <tr>
          <th>依頼者名</th>
          <th>作業内容</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% %>
      </tbody>
    </table>
  </div>
</div>