<div class="row">
  <div class="mx-auto col">
    <h1>マイページ</h1>
    <h2>本日の依頼</h2>
    <table class="table align-middle">
      <thead>
        <tr>
          <th class="w-50">依頼者名</th>
          <th class="w-25">作業内容</th>
          <th class="w-25"></th>
        </tr>
      </thead>
      <tbody>
        <% @works.each do |work| %>
          <tr>
            <td><%= work.commition.name %></td>
            <td><%= work.title %></td>
            <td><%= link_to "詳細", commition_path(work.commition), class: "btn btn-success" %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>